@keyframes svelte-yh69ot-fade-in{0%{opacity:0;transform:translateY(20px)}to{opacity:1;transform:translateY(0)}}.animate-fade-in.svelte-yh69ot{animation:svelte-yh69ot-fade-in .5s cubic-bezier(.16,1,.3,1) forwards}
